@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scrollbar-hide;
    @apply min-h-screen;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .clienthide {
    opacity: 0;
    /* transform: translateX(-100%); */
    transition: all 1s;
  }
  .show {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
  @media (prefers-reduced-motion) {
    .clienthide {
      transition: none;
    }
  }
}
