@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-black to-slate-900;
    @apply text-gray-300;
    @apply overflow-x-hidden;
    @apply scrollbar-hide;
    @apply min-h-screen;
  }
}

@layer components {
  .arrow {
    @apply w-10 h-10 rounded-full bg-[#35373a] flex items-center justify-center cursor-pointer transition-transform duration-200 ease-in-out
  }
  .arrow::before {
    @apply w-2 h-2 rounded-full bg-black transform rotate-45;
  }
  .arrow:hover {
    @apply transform scale-110;
  }
  .arrow:active {
    @apply transform scale-90;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
