---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import MapContainer from '../components/MapContainer.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Wesley Nguyen">
  <div id="wrapper" class="flex flex-col justify-center items-center">
    <About
      header="About Me"
      paragraph2="Besides school, I enjoy listening to music (favorite genres being progressive house (a la deadmau5), j-rock, among others), as well as playing games (if you consider modding skyrim in an infinite loop without launching the game a game). My favorite content creators are Fireship and Northernlion. I dabble in vtubers. I also have two dogs."
      paragraph1="Hello, my name is Wesley. I am a student at the University of Washington studying geography and data science. I have always been passionate with computers and after taking AP Computer Science during sophomore year I knew that I wanted to work in a field even remotely related to programming."
    />
    <Skills />
    <Projects />
    <MapContainer />
    <Footer />
  </div>
</Layout>
