---
import MapLayout from '../layouts/MapLayout.astro'
import Map from '../components/Map'
import MapHeader from '../components/MapHeader.astro'
---

<MapLayout title="My Map">
  <div class="h-[1030vh] md:h-[700vh]">
    <MapHeader />
    <Map client:load />
  </div>
</MapLayout>
