---
import Layout from '../layouts/Layout.astro'
import Map from '../components/Map'
import MapHeader from '../components/MapHeader.astro'
---

<Layout title="My Map">
  <div class="h-[1030vh] md:h-[700vh]">
    <MapHeader />
    <Map client:load />
  </div>
</Layout>
