---
export const prerender = true
import Map from '../components/Map'
import MapHeader from '../components/MapHeader.astro'
import Base from '../layouts/Base.astro';
---

<Base title="My Map" map={true}>
  <div class="h-[920vh] md:h-[625vh]">
    <MapHeader />
    <Map client:load />
  </div>
</Base>
