---
export const prerender = true
import Mapbox from '../components/Mapbox'
import MapHeader from '../components/MapHeader.astro'
import Base from '../layouts/Base.astro'
---

<Base title="My Map" map={true}>
  <div class="h-[920vh] md:h-[625vh]">
    <MapHeader />
    <Mapbox client:load />
  </div>
</Base>
