<div>
  <a
    class="text-2xl mx-2 myhover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/'}>🏠</a
  >
  <a
    class="text-2xl mx-2 myhover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/about'}>🧢</a
  >
  <a
    class="text-2xl mx-2 hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/map'}>🌎</a
  >
  <a
    class="text-2xl mx-2 hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/blog'}
    >📝 <span class="text-xl">blog</span>
  </a>
</div>
