<h1 class="text-6xl font-bold m-4 mb-8">
  Hi, I'm Wesley
</h1>
<p class="m-4 text-xl leading-8">
  I am a recent graduate from the
  <span class="font-bold text-cyan-600">University of Washington</span>
  , where I received my bachelor's degree
  in <span class="font-bold">Geography: Data Science</span>. I developed a passion for computers in high school when I took
  AP Computer Science and decided to pursue a career in programming. Since April, I have been
  self-teaching myself web development technologies through project-based learning.
</p>
<p class="m-4 text-xl leading-8">
  As a front-end or full-stack web developer, I am drawn to the immediate visual impact of my work on a website.
  I enjoy using framework libraries like React and Svelte to bring my ideas to life and create dynamic, user-friendly
  experiences. Seeing the changes I make reflected on a website is both satisfying and addictive, and I am excited to
  continue learning and growing in this field.
</p>