---
import { Image } from 'astro:assets'
import placeholder from '../assets/placeholder.jpg'
import ArtistCard from './ArtistCard'
---

<div class="my-20 flex w-full justify-evenly items-center flex-col lg:flex-row relative">
  <div class="m-4">
    <p class="text-center mt-11 mb-5 text-2xl font-bold">My Top Artists This Month</p>
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max">
      {
        Array.from({ length: 8 }, _ => (
          <div class="placeholder flex justify-center items-center m-2 p-1 bg-[beige] text-black rounded-lg">
            <Image alt="placeholder" src={placeholder} width={160} height={160} />
          </div>
        ))
      }
      <ArtistCard client:load />
    </div>
  </div>
</div>

<style>
  .hiddens {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>

<script>
  const placeholders = document.querySelectorAll('.placeholder')
  const intervalId = setInterval(() => {
    const artists = document.querySelectorAll('.artist')
    if (artists.length > 0) {
      placeholders.forEach(placeholder => {
        placeholder.classList.add('hiddens')
      })
      setTimeout(() => {
        placeholders.forEach(placeholder => {
          placeholder.remove()
        })
        clearInterval(intervalId)
        artists.forEach(artist => {
          artist.classList.remove('hidden')
          artist.classList.add('animate-slideshow')
        })
        return
      }, 1000)
    }
  }, 100)
</script>
