---
import { getCollection } from 'astro:content';
import { Image } from '@astrojs/image/components'
const posts = (await getCollection('blog')).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)
console.log(posts)
---

<div class="mb-16 w-[100vw] relative">
  <h1 class="mt-11 text-center text-2xl p-4 font-bold">Posts</h1>
  <ul class="flex items-center justify-center flex-wrap">
    {
      posts.map(post => (
        <li class="p-4 bg-[#21222a] m-4 text-center">
          <a href={`/blog/${post.slug}`} class="max-w-[480px] inline-block">
            <h2 class="text-3xl"> {post.data.title}</h2>
            <p class="text-sm mb-4">
              🕘{' '}
              <time datetime={post.data.pubDate}>
                {new Date(post.data.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
            </p>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</div>
