---
import { getCollection } from 'astro:content'
const allBlogPosts = await getCollection('blog')

const posts = Array.from(allBlogPosts)
  .map(post => {
    let data = { ...post.data, slug: post.id }
    return data
  })
  .sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf())
---

<div class="mb-16 relative grid grid-cols-1 my-20">
  {
    posts.map(post => (
      <div class="clienthide">
        <a href={`/blog/${post.slug}`} class="flex flex-col my-4">
          <div class="flex items-center gap-4 text-left border-b-2 border-white mb-1">
            <h2 class="text-2xl"> {post.title}</h2>
            <p class="text-sm">
              🕘
              <time datetime={post.pubDate}>
                {new Date(post.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
            </p>
          </div>
          <p>{post.description}</p>
        </a>
      </div>
    ))
  }
</div>
