<div class="border-l-white border h-[775px] w-[10px] my-40 bg-white relative">
  <div class="bg-[#21222a] w-max max-w-lg flex items-center flex-col p-4 ml-3">
    <h2 class="font-2xl text-white font-bold mb-2">Treasure Hacks</h2>
    <p class="mb-4">January 2023</p>
    <p>
      First hackathon I ever participated in. I joined with a group of friends, and we decided
      to learn new technologies. This manifested in the creation of a Tauri app to help stop
      procrastination, using Next.js and Rust, as well as incorporating a browser extension
      and marketing landing page. Placed in the top 10% of college bracket.
    </p>
  </div>
  <div class="bg-[#21222a] w-max max-w-lg flex items-center flex-col p-4 absolute right-1/2 mr-2">
    <h2 class="font-2xl text-white font-bold mb-2">IT Internship</h2>
    <p class="mb-4">July 2022 - September 2022</p>
    <p>
      My first ever internship, I helped the small information technology department for International
      Wood Products, the leading lumber and engineered wood products distributor in the Pacific Northwest.
      I learned a lot about hardware, Microsoft systems like Active Directory, and also spent a lot of time
      helping people around the company with technical issues and physical installations.
    </p>
  </div>
  <div class="bg-[#21222a] w-max max-w-lg flex items-center flex-col p-4 ml-3 absolute bottom-0">
    <h2 class="font-2xl text-white font-bold mb-2">Return to IWP</h2>
    <p class="mb-4">May 2023</p>
    <p>
      Given a return offer to International Wood Products, I returned in May 2023. While I still strive to be a
      front-end developer or full-stack developer, working at this company is fun and gives me unique opportunities.
      I've been giving the opportunity to take charge of starting and making an internal wiki for the company and writing
      and optimizing scripts for Azure Active Directory.
    </p>
  </div>
</div>