<div class="border-l-white border h-[550px] w-[10px] my-40 bg-white relative">
  <div class="bg-[#21222a] w-max max-w-lg flex items-center flex-col p-4 ml-3
    absolute">
    <h2 class="font-2xl text-white font-bold mb-2">Treasure Hacks</h2>
    <p class="mb-4">January 2023</p>
    <p>First hackathon I ever participated in. I joined with a group of friends, and we decided
      to learn new technologies. This manifested in the creation of a Tauri app to help stop
      procrastination, using Next.js and Rust, as well as incorporating a browser extension
      and marketing landing page. Placed in the top 10% of college bracket.
    </p>
  </div>
  <div class="bg-[#21222a] w-max max-w-lg flex items-center flex-col p-4
    absolute right-1/2 mr-2 top-1/2">
    <h2 class="font-2xl text-white font-bold mb-2">IT Internship</h2>
    <p class="mb-4">July 2022 - September 2022</p>
    <p>
      My first ever internship, I helped the small information technology department for International
      Wood Products, the leading lumber and engineered wood products distributor in the Pacific Northwest.
      I learned a lot about hardware, Microsoft systems like Active Directory, and also spent a lot of time
      helping people around the company with technical issues and physical installations.
    </p>
  </div>
</div>