---
import Techbar from './Techbar.astro'
---

<div class="flex flex-col items-center my-20">
  <h1 class="text-center text-2xl p-4 font-bold">Career Journey</h1>
  <div class="flex flex-col p-6 rounded-lg">
    <div class="flex justify-between items-center mb-2">
      <div>
        <h2 class="text-3xl text-white font-bold mb-2">Web Developer</h2>
        <p>University of Arizona (University Analytics & Insitutional Research)</p>
      </div>
      <p class="mb-4">November 2023 - Present</p>
    </div>
    <p>
      Over the last three months, I've been the sole developer working on multiple initiatives, from enhancing
      documentation accessibility with a Markdown-based site to refining search functionalities using MongoDB
      aggregation pipelines. I also tested and implemented accessibility features, introduced a Dark Mode option for our
      UI, and designed a feed for grant updates. Additionally, I rewrote significant portions of the codebase for
      clarity and contributed to a bespoke LLM by building a versatile web scraper and improving its chat interface.
      Lastly, I enhanced an AI-driven news generator for grant announcements.
    </p>
    <Techbar techs={['TypeScript', 'Next.js', 'Linux', 'MongoDB']} />
  </div>
  <div class="flex flex-col p-6 rounded-lg">
    <div class="flex justify-between items-center mb-2">
      <div>
        <h2 class="text-3xl text-white font-bold mb-2">IT Support Specialist</h2>
        <p>International Wood Products</p>
      </div>
      <p class="mb-4">May 2023 - November 2023</p>
    </div>
    <p>
      Given a return offer to International Wood Products, I returned in May 2023. Working at this company was fun and
      gave me unique opportunities. I've was called the data magic guy, for writing Python and Powershell scripts which
      save the team hours of manual work and labor, one of which automates a report for the accounting department that
      saves around an hour each day.
    </p>
    <Techbar techs={['Windows Server', 'Python', 'WordPress', 'Microsoft 365', 'ERP Migration']} />
  </div>
  <div class="flex flex-col p-6 rounded-lg">
    <div class="flex justify-between items-center mb-2">
      <div>
        <h2 class="text-3xl text-white font-bold mb-2">Hackathon Participant</h2>
      </div>
      <p class="mb-4">January 2023 - March 2023</p>
    </div>
    <p class="mb-2">
      Starting in January and continuing until March, I participated in my first few hackathons, these being the
      community-run TreasureHacks, and Major League Hacking sanctioned Transport and Whisker Hacks. Of these, a group
      project for TransportHacks, Package Tracker, took the award of best overall hack, while my project Picatso won the
      awards for best domain name and best use of Auth0.
    </p>
    <Techbar techs={['Next.js', 'React', 'Tailwind']} />
  </div>
  <div class="flex flex-col p-6 rounded-lg">
    <div class="flex justify-between items-center mb-2">
      <div>
        <h2 class="text-3xl text-white font-bold mb-2">IT Intern</h2>
        <p>International Wood Products</p>
      </div>
      <p class="mb-4">July 2022 - September 2022</p>
    </div>
    <p>
      My first ever internship, I helped the small information technology department for International Wood Products,
      the leading lumber and engineered wood products distributor in the Pacific Northwest. I learned a lot about
      hardware, Microsoft systems like Active Directory, and also spent a lot of time helping people around the company
      with technical issues and physical installations.
    </p>
    <Techbar techs={['Windows Server', 'Python', 'Hardware', 'Microsoft 365']} />
  </div>
</div>
