---
import games from '../data/games.json'
import GameCard from './GameCard.astro'
import Steam from './Steam'
---

<div class="my-20">
  <h1 class="text-center text-2xl font-bold">Games</h1>
  <Steam client:idle />
  <div class="my-10">
    <p class="p-4 text-center text-lg mb-2">These are some games I have been playing.</p>
    <div class="grid grid-cols-4 md:grid-cols-2 xl:grid-cols-4 place-items-center">
      {
        games.map(game => (
          <a class="clienthide" target="_blank" rel="noreferrer noopener" href={game.url} title={game.name}>
            <GameCard name={game.name} />
          </a>
        ))
      }
    </div>
  </div>

  <p class="p-4 text-lg mb-2 max-w-lg sm:max-w-xl md:max-w-2xl text-left break-keep">
    I have historically also enjoyed League of Legends (unfortunately), Hearts of Iron IV (made some competitive
    multiplayer focused mods), and other strategy games. Currently, I enjoy roguelikes.
  </p>
</div>
