---
import { getImage } from '@astrojs/image'
import type { ImgHTMLAttributes } from '@astrojs/image/components'
import GameCard from './GameCard'

import skyrimStats from '../assets/games/Skyrim.jpg'
import hoi4Stats from '../assets/games/Hearts of Iron IV.jpg'
import sapStats from '../assets/games/Super Auto Pets.jpg'
import leagueStats from '../assets/games/League of Legends.jpg'
import sc2Stats from '../assets/games/Starcraft 2.jpg'
import civStats from '../assets/games/Civilization V.jpg'
import akStats from '../assets/games/Arknights.jpg'
import alStats from '../assets/games/Azur Lane.jpg'
const games = [
  {
    name: 'Skyrim',
    url: 'https://elderscrolls.bethesda.net/en/skyrim',
    cover: {} as ImgHTMLAttributes,
    stats: skyrimStats,
  },
  {
    name: 'Hearts of Iron IV',
    url: 'https://www.paradoxinteractive.com/games/hearts-of-iron-iv/about',
    cover: {} as ImgHTMLAttributes,
    stats: hoi4Stats,
  },
  {
    name: 'Super Auto Pets',
    url: 'https://teamwoodgames.com/',
    cover: {} as ImgHTMLAttributes,
    stats: sapStats,
  },
  {
    name: 'League of Legends',
    url: 'https://www.leagueoflegends.com/en-us/',
    cover: {} as ImgHTMLAttributes,
    stats: leagueStats,
  },
  {
    name: 'Starcraft 2',
    url: 'https://starcraft2.com/en-us/',
    cover: {} as ImgHTMLAttributes,
    stats: sc2Stats,
  },
  {
    name: 'Civilization V',
    url: 'https://civilization.com/civilization-5/',
    cover: {} as ImgHTMLAttributes,
    stats: civStats,
  },
  {
    name: 'Arknights',
    url: 'https://www.arknights.global/',
    cover: {} as ImgHTMLAttributes,
    stats: akStats,
  },
  {
    name: 'Azur Lane',
    url: 'https://azurlane.yo-star.com/#/',
    cover: {} as ImgHTMLAttributes,
    stats: alStats,
  },
]

for (let i = 0; i < games.length; i++) {
  games[i].cover = await getImage({
    src: `./gamecover/${games[i].name}.jpg`,
    width: 460,
    height: 215,
  })
}
---

<div class="w-[75vw] mt-11">
  <h1 class="text-center text-2xl mb-0">Games</h1>
  <p class="p-4 text-center text-xl">These are just some games I like playing.</p>
  <ul class="grid grid-cols md:grid-cols-2 lg:grid-cols-4">
    {
      games.map((game, i) =>
        <GameCard
          client:visible
          delay={game.name === 'Skyrim' ? '' : `lg:delay-[${i*100}ms]`}
          name={game.name}
          url={game.url}
          cover={(game.cover as {width: number, height: number, src: string})}
          stats={(game.stats)}
        />
      )
    }
  </ul>
</div>

<!-- https://cdn.akamai.steamstatic.com/steam/apps/489830/header.jpg?t=1650909796
https://cdn.akamai.steamstatic.com/steam/apps/394360/header.jpg?t=1661438345
https://cdn.akamai.steamstatic.com/steam/apps/1714040/header.jpg?t=1660917023
https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/0d441de75945e5acbc865406fc9a2559.png
https://o.aolcdn.com/hss/storage/midas/87ef85574244b74f1d251b63a07b7abb/203880681/starcraftii-logo.jpg
https://cdn.akamai.steamstatic.com/steam/apps/8930/header.jpg?t=1579731804
https://www.gameuidatabase.com/uploads/Arknights01252021-022418-77137.jpg -->
