---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<head>
  <noscript>
    <link rel="stylesheet" href="(font CSS URL here)" />
  </noscript>
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta
    name="description"
    content="Personal website of Wesley Nguyen, an aspiring developer."
  />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content={title} />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
  <link rel="manifest" href="/favicons/site.webmanifest" />
  <meta property="og:title" content="Wesley Nguyen's personal website" />
  <meta
    property="og:description"
    content="Personal website of Wesley Nguyen, an aspiring developer."
  />
  <meta property="og:image" content="/wesley.jpeg" />
  <meta name="twitter:title" content="Wesley Nguyen's personal website" />
  <meta
    name="twitter:description"
    content="Personal website of Wesley Nguyen, an aspiring developer."
  />
  <meta name="twitter:image" content="/wesley.jpeg" />
  <meta name="twitter:creator" content="wesngu28" />
</head>
