---
import { Image } from '@astrojs/image/components'
import globe from '../assets/globe.jpg'
---

<div class="w-[85vw] mt-11 relative">
  <h1 class="text-center font-bold text-2xl p-2">My Pathway</h1>
  <p class="m-auto break-normal text-center">
    I have had a lot of successes and missteps on the way to where I am now. Click here to
    navigate a scrollytelling map about it.
  </p>
  <div
    class="m-auto mt-5 transform h-max w-max transition duration-500 hover:scale-105 mb-40"
  >
    <a
      class="hover:text-yellow-400 underline p-4 text-left text-sm md:text-xl leading-8 m-auto"
      href="/map"
    >
      <Image alt={'globe that navigates to map route'} src={globe} />
    </a>
  </div>
</div>
