<header
    class="absolute w-full z-10 p-8 flex items-center justify-center flex-col bg-[#1F2022]"
>
    <h1 class="text-center text-3xl font-bold">
        Scrollytelling my Journey
    </h1>
    <p class="md:p-4 text-left text-md md:text-xl leading-8">
        Fly around the world in my implementation of Mapbox scrollytelling using
        intersection observer in React.
    </p>
    <div
        class="hover:animate-pulse ransform h-max w-max transition duration-500 hover:scale-105"
    >
        <a
            href="/"
            class="hover:text-yellow-400 underline p-4 text-left text-sm md:text-xl leading-8 m-auto"
        >
            Return home
        </a>
    </div>
</header>
