---
import NowPlaying from './NowPlaying'
import ArtistCard from './ArtistCard'
import TopSVG from './TopSVG.astro'
---

<div
  class="mb-20 flex w-[100vw] justify-evenly items-center flex-col md:flex-row relative"
>
  <TopSVG />
  <div
    class="mt-40 flex w-[75vw] justify-evenly items-center flex-col md:flex-row relative"
  >
    <NowPlaying client:idle />
    <div class="flex flex-wrap justify-center m-4">
      <div>
        <p class="text-center mt-11 mb-5">My Top Artists This Month</p>
        <div
          class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max"
        >
          <ArtistCard client:idle />
        </div>
      </div>
    </div>
  </div>
</div>
