---
import Artists from './Artists.astro';
---

<div class="my-40 flex w-full justify-evenly items-center flex-col lg:flex-row relative">
  <div class="m-4">
    <p class="text-center mt-11 mb-5">My Top Artists This Month</p>
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max"
    >
      <Artists />
    </div>
  </div>
</div>
