<nav class="flex items-center justify-end gap-6 m-4 p-4 bg-[#1F2022]">
  <a
    class="text-2xl underline hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/'}>Home</a
  >
  <a
    class="text-2xl underline hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/about'}>About</a
  >
  <a
    class="text-2xl underline hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/map'}>Map</a
  >
  <a
    class="text-2xl underline hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
    href={'/blog'}>Blog</a
  >
</nav>
