---
import { Image } from '@astrojs/image/components'

export interface Props {
  name: string
  url: string
  imgsrc: ImageMetadata | string
}

const { name, url, imgsrc } = Astro.props
---

<li class="rounded-lg flex justify-center w-min items-center m-2 p-1 bg-[#D3D3D3]">
  <div class="w-6 h-6 mr-2">
    <Image
      src={imgsrc}
      width={24}
      height={24}
      class="box-border object-cover"
      alt={`${name} logo`}
    />
  </div>
  <a
    target="_blank"
    href={url}
    rel="noopener noreferrer"
    class="text-black md:text-xl hover:underline"
  >
    {name === 'email' ? 'wesngu028@gmail.com' : name === 'resume' ? 'resume' : 'wesngu28'}
  </a>
</li>
