---
import { Image } from 'astro:assets'

export interface Props {
  name: string
  url: string
  imgsrc: ImageMetadata | string
}

const { name, url, imgsrc } = Astro.props
---

<li class="rounded-lg w-min items-center m-2 p-1 bg-[#D3D3D3] group hover:w-28 relative">
  <div class="w-8 h-8">
    <a
      target="_blank"
      href={url}
      rel="noopener noreferrer"
      class="text-black md:text-xl hover:underline"
    >
      <Image
        src={imgsrc}
        width={32}
        height={32}
        class="box-border object-cover"
        alt={`${name} logo`}
      />
    </a>
  </div>
  <div class="absolute bottom-2 left-[40%] opacity-0 group-hover:opacity-100">
    <p class="text-black">{name}</p>
  </div>
</li>
