---
import Slideshow from '../components/Slideshow.astro'
import { Image } from 'astro:assets'
import dogsscuffed from '../assets/dogs.jpg'
---

<div class="my-20 flex justify-center ml-4 mr-4 w-[75vw] rounded-3xl relative">
  <div class="p-4 flex items-center flex-col w-[65vw]">
    <h1 class="text-center text-2xl font-bold">meet my dogs</h1>
    <div class="mt-11 w-[300px]">
      <Image class={'w-full h-full clienthide'} alt="my dogs, cami and xena" src={dogsscuffed} />
    </div>
    <div class="mp-4 text-left text-xl leading-8 mb-4">
      <div class="lg:flex text-center">
        <div class="mt-4 p-4">
          <p class="font-bold">Cami</p>
          <p>Chihuahua-Dachshund</p>
          <Slideshow name={'cami'} dynamicAlt={'Cami'} />
        </div>
        <div class="mt-4 p-4">
          <p class="font-bold">Xena</p>
          <p>Mixed Labrador</p>
          <Slideshow name={'xena'} dynamicAlt={'Xena'} />
        </div>
      </div>
    </div>
  </div>
</div>
