---
import Slideshow from '../components/Slideshow.astro'
import { Image } from 'astro:assets'
import dogsscuffed from '../assets/dogs.jpg'

const cami = [
  './dog/cami1.webp',
  './dog/cami2.webp',
  './dog/cami3.webp',
  './dog/cami4.webp',
  './dog/cami5.webp',
  './dog/cami6.webp',
]

const xena = [
  './dog/xena1.webp',
  './dog/xena2.webp',
  './dog/xena3.webp',
  './dog/xena4.webp',
  './dog/xena5.webp',
  './dog/xena6.webp',
]
---

<div class="mb-40 flex justify-center ml-4 mr-4 w-[75vw] rounded-3xl relative">
  <div class="p-4 flex items-center flex-col w-[65vw]">
    <h1 class="text-center text-3xl">meet my dogs</h1>
    <div class="mt-11 w-[300px]">
      <Image class={'w-full h-full'} alt="my dogs, cami and xena" src={dogsscuffed} />
    </div>
    <div class="mp-4 text-left text-xl leading-8 mb-4">
      <div class="lg:flex text-center">
        <div class="mt-4 p-4">
          <p class="font-bold">Cami</p>
          <p>Chihuahua-Dachshund</p>
          <Slideshow images={cami} dynamicAlt={'Cami'} />
        </div>
        <div class="mt-4 p-4">
          <p class="font-bold">Xena</p>
          <p>Mixed Labrador</p>
          <Slideshow images={xena} dynamicAlt={'Xena'} />
        </div>
      </div>
    </div>
  </div>
</div>
