---
import Slideshow from '../components/Slideshow.astro'
import { Image } from 'astro:assets'
import dogsscuffed from '../assets/dogs.jpg'
import cami1 from '../../public/dog/cami1.webp';
import cami2 from '../../public/dog/cami2.webp';
import cami3 from '../../public/dog/cami3.webp';
import cami4 from '../../public/dog/cami4.webp';
import cami5 from '../../public/dog/cami5.webp';
import cami6 from '../../public/dog/cami6.webp';

import xena1 from '../../public/dog/xena1.webp';
import xena2 from '../../public/dog/xena2.webp';
import xena3 from '../../public/dog/xena3.webp';
import xena4 from '../../public/dog/xena4.webp';
import xena5 from '../../public/dog/xena5.webp';
import xena6 from '../../public/dog/xena6.webp';

const cami = [cami1, cami2, cami3, cami4, cami5, cami6];

const xena = [xena1, xena2, xena3, xena4, xena5, xena6]
---

<div class="mb-40 flex justify-center ml-4 mr-4 w-[75vw] rounded-3xl relative">
  <div class="p-4 flex items-center flex-col w-[65vw]">
    <h1 class="text-center text-3xl">meet my dogs</h1>
    <div class="mt-11 w-[300px]">
      <Image class={'w-full h-full'} alt="my dogs, cami and xena" src={dogsscuffed} />
    </div>
    <div class="mp-4 text-left text-xl leading-8 mb-4">
      <div class="lg:flex text-center">
        <div class="mt-4 p-4">
          <p class="font-bold">Cami</p>
          <p>Chihuahua-Dachshund</p>
          <Slideshow images={cami} dynamicAlt={'Cami'} />
        </div>
        <div class="mt-4 p-4">
          <p class="font-bold">Xena</p>
          <p>Mixed Labrador</p>
          <Slideshow images={xena} dynamicAlt={'Xena'} />
        </div>
      </div>
    </div>
  </div>
</div>
