---
import SkillCard from "./SkillCard.astro";
import mongo from '../assets/skills/mongo.png'
import redis from '../assets/skills/redis.png'
import cockroach from '../assets/skills/cockroach.png'
import flask from '../assets/skills/flask.png'
import python from '../assets/skills/python.png'
import nuxt from '../assets/skills/nuxt.png'
import next from '../assets/skills/next.png'
import vue from '../assets/skills/vue.png'
import svelte from '../assets/skills/svelte.png'
import react from '../assets/skills/react.png'
import node from '../assets/skills/node.png'
import ts from '../assets/skills/ts.png'
import js from '../assets/skills/js.png'
import tailwind from '../assets/skills/tailwind.png'
import bootstrap from '../assets/skills/bootstrap.png'
import sass from '../assets/skills/sass.png'
import css from '../assets/skills/css.png'
import html from '../assets/skills/html.png'
import opensuse from '../assets/skills/opensuse.png'
import docker from '../assets/skills/docker.png'
import git from '../assets/skills/git.png'
import linux from '../assets/skills/linux.png'
---

<div class="w-[100vw] relative">
    <div class="absolute top-0 left-0 overflow-hidden leading-none w-full">
      <svg
        class="relative block w-[calc(128%+2px)] h-[111px]"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          class="fill-[#1F2022]"
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        ></path>
      </svg>
    </div>
    <h1 class="mt-11  text-center text-2xl p-4 font-bold">Skills</h1>
    <ul class="flex flex-wrap justify-center p-4">
      <SkillCard
        images={[linux, git, opensuse, docker]}
        name={'Tools and Systems'}
        desc={
          'Operating systems and tools that help me run services and start new projects.'
        }
      />
      <SkillCard    
        images={[ html, css, bootstrap, sass, tailwind ]}
        name={'HTML and CSS'}
        desc={
          'The building blocks of the internet. CSS enhanced by Bootstrap, Sass, and Tailwind.'
        }
      />
      <SkillCard
        images={[ js, ts, node, svelte, react, next, vue, nuxt ]}
        name={'Javascript'}
        desc={
          'The various flavors of Javascript, its frameworks, bundlers (Vite), and everything in-between.'
        }
      />
      <SkillCard
        images={[python, flask]}
        name={'Python'}
        desc={
          'The language of data and AI. I have also used Jupyter and the ML libaries to some extent.'
        }
      />
      <SkillCard
        images={[mongo, redis, cockroach]}
        name={'Databases'}
        desc={
          'Storage of data in the backend. I have worked with Postgres but have not used it in a project.'
        }
      />
    </ul>
  </div>