---
import SkillCard from './SkillCard.astro'
import skills from '../data/skills.json'
---

<div class="max-w-7xl relative flex flex-col justify-center items-center my-20">
  <h1 class="text-center text-2xl p-4 font-bold flex items-center gap-2">⚙️ Skills</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-8">
    {skills.map(skill => <SkillCard name={skill.name} image={skill.image || ''} link={skill.link || ''} />)}
  </div>
</div>
