---
import { Image } from '@astrojs/image/components'

export interface Props {
  images: Array<ImageMetadata>
  name: string[]
  grid: string
  desc?: string
}

const { images, name, desc, grid } = Astro.props
---

<li class="border bg-[#21222a] p-4 m-4 rounded-2xl flex items-center justify-center">
  <div class={` ${grid}`}>
    {
      images.map((arr, i) => {
        return (
          <div class="m-2 lg:p-2 ultrawide:p-0 relative flex items-center justify-center">
            <Image
              class="w-auto h-auto object-contain"
              alt={`${name[i]} logo`}
              src={arr}
              format={'webp'}
              title={name[i]}
            />
          </div>
        )
      })
    }
  </div>
</li>
