<div class="ml-5 mb-40 w-full flex flex-col items-center text-center max-w-3xl">
  <h1 class="text-3xl">Specs</h1>
  <div class="flex flex-col w-full items-start">
    <h1 class="text-3xl mt-8 font-bold mb-2">Software</h1>
    <div class="text-left flex flex-col gap-1">
      <p><span class="font-bold">Browser</span>: <span class="text-orange-600">Firefox</span>, Librewolf, Brave</p>
      <p><span class="font-bold">Passwords</span>: Bitwarden</p>
      <p><span class="font-bold">IDE</span>: VSCodium, Visual Studio Code</p>
      <p><span class="font-bold">Email</span>: Fastmail</p>
      <p><span class="font-bold">Notes</span>: Notesnook</p>
    </div>
    <h1 class="text-3xl mt-8 font-bold mb-2">Hardware</h1>
    <div class="flex flex-col gap-4 items-start text-left">
      <h2 class="text-lg font-semibold mb-2">Oregon Daily Driver</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1"><span class="font-bold">OS</span>: <span class="text-blue-800">Debian Siduction</span></li>
        <li class="mb-1"><span class="font-bold">CPU</span>: AMD Ryzen 5 5600X 3.7 GHz 6-Core Processor</li>
        <li class="mb-1"><span class="font-bold">CPU Cooler</span>: AMD Wraith Stealth Cooler</li>
        <li class="mb-1"><span class="font-bold">Motherboard</span>: Gigabyte B450M DS3H Micro ATX AM4 Motherboard</li>
        <li class="mb-1"><span class="font-bold">Memory</span>: TEAMGROUP T-Create Expert 32 GB (2 x 16 GB) DDR4-3200 CL16 Memory</li>
        <li class="mb-1"><span class="font-bold">Main Storage</span>: Western Digital Blue SN570 1 TB M.2-2280 PCIe 3.0 X4 NVME Solid State Drive</li>
        <li class="mb-1"><span class="font-bold">Secondary</span>: Crucial RealSSD C300 2.5" 128GB SATA III MLC Internal Solid State Drive</li>
        <li class="mb-1"><span class="font-bold">Video Card</span>: Sapphire Radeon RX 5700 XT 8 GB Video Card</li>
        <li class="mb-1"><span class="font-bold">Case</span>: Cryo-PC Mesh 3 Mid Tower Case MATX/ITX</li>
        <li class="mb-1"><span class="font-bold">Power Supply</span>: Thermaltake Toughpower GX2 600W 80+ Gold Certified ATX Power Supply</li>
      </ul>
      <h2 class="text-lg font-semibold mb-2">Gaming</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1"><span class="font-bold">OS</span>: Windows 10 Home</li>
        <li class="mb-1"><span class="font-bold">CPU</span>: AMD Ryzen 5 5600X 3.7 GHz 6-Core Processor</li>
        <li class="mb-1"><span class="font-bold">CPU Cooler</span>: Cooler Master Hyper 212 Black Edition 42 CFM CPU Cooler</li>
        <li class="mb-1"><span class="font-bold">Motherboard</span>: MSI B450 TOMAHAWK ATX AM4 Motherboard</li>
        <li class="mb-1"><span class="font-bold">Memory</span>: Corsair Vengeance LPX 32 GB (2 x 16 GB) DDR4-3200 CL16 Memory</li>
        <li class="mb-1"><span class="font-bold">Main Storage</span>: Samsung 970 Evo Plus 1 TB M.2-2280 NVME</li>
        <li class="mb-1"><span class="font-bold">Bulk Storage</span>: Western Digital Caviar Blue 1 TB 3.5" 7200 RPM Internal Hard Drive</li>
        <li class="mb-1"><span class="font-bold">Secondary</span>: ADATA SU630 480 GB 2.5" Solid State Drive</li>
        <li class="mb-1"><span class="font-bold">Video Card</span>: PowerColor Hellhound AMD Radeon RX 7900 XT Graphics Card</li>
        <li class="mb-1"><span class="font-bold">Case</span>: NZXT H500 ATX Mid Tower Case</li>
        <li class="mb-1"><span class="font-bold">Power Supply</span>: EVGA 850 GQ 850 W 80+ Gold Certified Semi-modular ATX Power Supply</li>
        <li class="mb-1"><span class="font-bold">Monitor</span>: Alienware AW3423DW 34.2" 3440 x 1440 175 Hz Curved Monitor</li>
        <li><span class="font-bold">2nd Monitor</span>: Acer XV2772U Pbmiiprzx 26.0" 2560x1440 144 zZ Monitor</li>
      </ul>
      <h2 class="text-lg"><span class="font-semibold">Emulation PC</span>: Dell Optiplex 5000 (<span class="text-blue-600">Windows 11 Pro</span>)</h2>
      <h2 class="text-lg"><span class="font-semibold">Laptop</span>: HP Pavillion 15z-cw100 (<span class="text-green-600">OpenSuse Tumbleweed</span>)</h2>
      <h2 class="text-lg"><span class="font-semibold">Home Server</span>: Dell Precision 5810 (<span class="text-red-600">Debian 12 Server</span>)</h2>
      <ul class="-mt-4">
        Most Used Services</span>:
        <li class="ml-10">Portainer</li>
        <li class="ml-10">Jellyfin</li>
        <li class="ml-10">FreshRSS</li>
        <li class="ml-10">Syncthing</li>
        <li class="ml-10">Uptime Kuma</li>
        <li class="ml-10">Unifi Controller</li>
        <li class="ml-10">and more...</li>
      </ul>
      <h2 class="text-lg"><span class="font-semibold">Phone</span>: Samsung Galaxy S23 Ultra</h2>
      <h2 class="text-lg font-semibold">Peripherals</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1"><span class="font-bold">Keyboard</span>: Leopold FC660M Black 65% Double Shot PBT</li>
        <li class="mb-1"><span class="font-bold">Mouse</span>: Logitech G502 Hero</li>
        <li class="mb-1"><span class="font-bold">Headphones</span>: Beyerdynamic DT770</li>
        <li class="mb-1"><span class="font-bold">Headphones</span>: Bose QuietComfort 35 Series II</li>
      </ul>
      <h2 class="text-lg font-semibold mb-2">Networking</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1"><span class="font-bold">Modem</span>: Motorola MB8600</li>
        <li class="mb-1"><span class="font-bold">Router</span>: Dell Optiplex 3050, running pfSense</li>
        <li class="mb-1"><span class="font-bold">Access Point</span>: Ubiquity U6-LR</li>
        <li class="mb-1"><span class="font-bold">Access Point 2</span>: TP-Link EAP610</li>
        <li class="mb-1"><span class="font-bold">Switch 1</span>: Trendnet 16 Port Unmanaged Switch</li>
        <li class="mb-1"><span class="font-bold">Switch 2</span>: TP-Link TL-SG108</li>
      </ul>
      <h1 class="text-3xl mt-8 font-bold mb-2">Work Administered</h1>
      <h2 class="text-lg"><span class="font-semibold">Laptop</span>: Dell Vostro 5620</h2>
      <h2 class="text-lg"><span class="font-semibold">Phone</span>: Apple iPhone 13</h2>
      <h2 class="text-lg"><span class="font-semibold">Headset</span>: Poly BT700</h2>
    </div>
  </div>
</div>
