---
import { Image } from '@astrojs/image/components'
import curr from "../assets/parts.jpg"
import suse from "../assets/suse.png"
import debian from "../assets/debian.png"
import wind from "../assets/skills/windows.png"
---

<div class="my-40 w-full flex flex-col items-center text-center">
  <h1 class="text-3xl">my systems</h1>
  <p>We do not talk about the power draw. I love my 3423dw.</p>
  <div class="my-5 flex justify-center">
    <Image class="m-auto" width={320} height={200} aspectRatio="320:200" alt="OpenSuse" src={suse} />
    <div class="bg-slate-700 opacity-75 m-2 p-2">
      <p class="text-green-300 inline-block">openSuse Tumbleweed</p>
      <h2 class="mb-4 text-xl mr-auto">HP Pavillion 15z-cw100</h2>
      <p class="mb-4">Laptop</p>
      <h2 class="mb-4 text-xl mr-auto">Dell Optiplex 3040</h2>
      <p class="mb-4">Productivity</p>
    </div>
  </div>
  <div class="my-5 flex justify-center">
    <div class="bg-slate-700 opacity-75 m-2 p-2">
      <h2 class="mb-4 text-xl mr-auto">Dell Precision 5810</h2>
      <p class="text-red-300 inline-block">Debian</p>
      <p>Home Server</p>
      <ul>
        <li class="ml-10">Jellyfin</li>
        <li class="ml-10">Overleaf</li>
        <li class="ml-10">Code Server</li>
        <li class="ml-10">Syncthing</li>
        <li class="ml-10">and more...</li>
      </ul>
    </div>
    <Image class="m-auto" aspectRatio="162:200" height={200} alt="Debian" src={debian} />
  </div>
  <div class="my-5 lg:flex lg:justify-center items-center">
    <Image class="m-auto" aspectRatio="1:1" height={200} alt="Windows" src={wind} />
    <Image class="m-auto" aspectRatio="342:400" height={400} alt="Current" src={curr} />
  </div>
</div>