<div class="p-4 ml-5 my-20 w-full flex flex-col items-center text-center max-w-3xl">
  <h1 class="text-2xl font-bold">Specs</h1>
  <div class="flex flex-col w-full items-start">
    <h1 class="text-2xl mt-8 font-bold mb-2">Software</h1>
    <div class="text-left flex flex-col gap-1">
      <p>
        <span class="font-bold">Browser</span>: <span class="text-orange-600">Firefox</span>
      </p>
      <p><span class="font-bold">Passwords</span>: Bitwarden</p>
      <p><span class="font-bold">IDE</span>: Visual Studio Code</p>
      <p><span class="font-bold">Email</span>: Fastmail</p>
      <p><span class="font-bold">Notes</span>: Obsidian</p>
      <p><span class="font-bold">Music Player</span>: Feishin</p>
    </div>
    <h1 class="text-2xl mt-8 font-bold mb-2">Hardware</h1>
    <div class="flex flex-col gap-4 items-start text-left">
      <h2 class="text-lg font-semibold mb-2">Daily Driver</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1">
          <span class="font-bold">OS</span>: <span class="text-blue-600">NixOS</span>
        </li>
        <li class="mb-1">
          <span class="font-bold">CPU</span>: AMD Ryzen 5 5600X 3.7 GHz 6-Core Processor
        </li>
        <li class="mb-1">
          <span class="font-bold">CPU Cooler</span>: Cooler Master Hyper 212 Black Edition 42 CFM CPU Cooler
        </li>
        <li class="mb-1">
          <span class="font-bold">Motherboard</span>: MSI B450 TOMAHAWK ATX AM4 Motherboard
        </li>
        <li class="mb-1">
          <span class="font-bold">Memory</span>: Corsair Vengeance LPX 32 GB (2 x 16 GB) DDR4-3200 CL16 Memory
        </li>
        <li class="mb-1">
          <span class="font-bold">Main Storage</span>: Samsung 970 Evo Plus 1 TB M.2-2280 NVME
        </li>
        <li class="mb-1">
          <span class="font-bold">Bulk Storage</span>: Western Digital Caviar Blue 3 TB 3.5" 5400 RPM Internal Hard
          Drive
        </li>
        <li class="mb-1">
          <span class="font-bold">Bulk Storage</span>: Western Digital Caviar Blue 1 TB 3.5" 7200 RPM Internal Hard
          Drive
        </li>
        <li class="mb-1">
          <span class="font-bold">Secondary</span>: ADATA SU630 480 GB 2.5" Solid State Drive
        </li>
        <li class="mb-1">
          <span class="font-bold">Video Card</span>: PowerColor Hellhound AMD Radeon RX 7900 XT Graphics Card
        </li>
        <li class="mb-1">
          <span class="font-bold">Case</span>: NZXT H500 ATX Mid Tower Case
        </li>
        <li class="mb-1">
          <span class="font-bold">Power Supply</span>: EVGA 850 GQ 850 W 80+ Gold Certified Semi-modular ATX Power
          Supply
        </li>
        <li class="mb-1">
          <span class="font-bold">Monitor</span>: Alienware AW3423DW 34.2" 3440 x 1440 175 Hz Curved Monitor
        </li>
      </ul>
      <h2 class="text-lg">
        <span class="font-semibold">Laptop</span>: HP Pavillion 15z-cw100 (<span class="text-blue-600">NixOS</span>)
      </h2>
      <h2 class="text-lg">
        <span class="font-semibold">Home Server</span>: Dell Optiplex 5000 (<span class="text-blue-600">NixOS</span>)
      </h2>
      <ul class="-mt-4">
        Most Used Services:
        <li class="ml-10">Navidrome</li>
        <li class="ml-10">Syncthing</li>
        <li class="ml-10">and more...</li>
      </ul>
      <h2 class="text-lg">
        <span class="font-semibold">Secondary Home Server</span>: Dell Precision 5810 (<span class="text-red-600"
          >Debian 12 Server</span
        >)
      </h2>
      <ul class="-mt-4">
        Most Used Services:
        <li class="ml-10">Portainer</li>
        <li class="ml-10">Jellyfin</li>
        <li class="ml-10">Syncthing</li>
        <li class="ml-10">Unifi Controller</li>
        <li class="ml-10">and more...</li>
      </ul>
      <h2 class="text-lg"><span class="font-semibold">VPS</span>: Hetzner (cpx11)</h2>
      <h2 class="text-lg">
        <span class="font-semibold">Phone</span>: Samsung Galaxy S23 Ultra
      </h2>
      <h2 class="text-lg font-semibold">Peripherals</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1">
          <span class="font-bold">Keyboard</span>: Leopold FC660M Black 65% Double Shot PBT
        </li>
        <li class="mb-1"><span class="font-bold">Mouse</span>: Logitech G502 Hero</li>
        <li class="mb-1">
          <span class="font-bold">Headphones</span>: Beyerdynamic DT770
        </li>
        <li class="mb-1">
          <span class="font-bold">Headphones</span>: Bose QuietComfort 35 Series II
        </li>
      </ul>
      <h2 class="text-lg font-semibold mb-2">Networking</h2>
      <ul class="list-disc list-inside">
        <li class="mb-1"><span class="font-bold">Modem</span>: Motorola MB8600</li>
        <li class="mb-1">
          <span class="font-bold">Router</span>: Dell Optiplex 3050, running pfSense
        </li>
        <li class="mb-1"><span class="font-bold">Access Point</span>: Ubiquity U6-LR</li>
        <li class="mb-1">
          <span class="font-bold">Access Point 2</span>: TP-Link EAP610
        </li>
        <li class="mb-1">
          <span class="font-bold">Switch 1</span>: Trendnet 16 Port Unmanaged Switch
        </li>
        <li class="mb-1"><span class="font-bold">Switch 2</span>: TP-Link TL-SG108</li>
      </ul>
      <h1 class="text-2xl mt-8 font-bold mb-2">Work Administered</h1>
      <h2 class="text-lg"><span class="font-semibold">Laptop</span>: MacBook Pro M3</h2>
    </div>
  </div>
</div>
