---
import langs from '../data/language-list.json'

export interface Props {
  techs: string[]
  margin?: string
}

const { techs, margin } = Astro.props
---

<div class={`flex flex-wrap gap-x-4 ${margin && "m-auto"}`}>
  {
    techs.map(tech => {
      let color = ''
      if ((langs as {[key:string]: { color: string }} )[tech]) {
        color = (langs as {[key:string]: { color: string }} )[tech].color
      }
      return (
        <div title={tech} class="mt-4 space-x-3 font-mono text-sm">
          <span
            style={`border-color: ${color ? color : '#525252'};`}
            class={`inline-block border rounded-md px-2 py-1`}
          >
            {tech}
          </span>
        </div>
      )
    })
  }
</div>
